{% extends 'base.html' %}
{% block title %}App Vocabulario{% endblock %}

{% block content %}
<div class="container">
    <h1>Vocabulario</h1>
    <p>Bienvenido a tu nueva app para aprender vocabulario en Français</p>
<div class="container">
<form method="post" action="{% url 'delete_rows' %}">
    {% csrf_token %}
    <table class="table table-hover" id="mytable">
        <button type="submit" class="btn btn-danger">Delete Words</button>
        <thead>
        <tr>
            <th>French</th>
            <th>Spanish</th>
            <th>Example</th>
            <th>Learned</th>
            <th>Audio</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in audio_data %}
        <tr>
            <td>{{ item.French }}</td>
            <td>{{ item.Spanish }}</td>
            <td>{{ item.Example }}</td>
            <td>
            {% if item.learning_rate == 0 %}
                <i class="fa fa-circle" style="color:red;"></i>
                {% endif %}
                {% if item.learning_rate < 1 and item.learning_rate > 0 %}
                <i class="fa fa-circle" style="color:yellow;"></i>
                {% endif %}
                {% if item.learning_rate == 1 %}
                <i class="fa fa-circle" style="color:green;"></i>
                {% endif %}
            </td>
            <td>
                <audio controls id="{{item.id}}">
                    <source src="{{item.audio_file}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <!-- <button id="playButton" onclick="toggleAudio(data-val)" data-val="{{item.id}}" class="fa fa-toggle-right"> -->
            <!-- </button> -->
            </td>
            <td><input type="checkbox" name="selected_rows" value="{{ item.id }}" class="row-checkbox"></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</form>
</div>
</div>

{% endblock %}